<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!--    if client will have this permission it can read our notes-->
    <permission
        android:name="com.example.contentproviderandconentresolver.READ_NOTES"
        android:protectionLevel="normal" />
    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ContentProviderAndConentResolver"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ContentProviderAndConentResolver">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <provider
            android:name=".data.provider.NotesContentProvider"
            android:authorities="com.example.contentproviderandconentresolver.provider"
            android:enabled="true"
            android:exported="true"
            android:multiprocess="true"
            android:permission="com.example.contentproviderandconentresolver.READ_NOTES"
            android:readPermission="com.example.contentproviderandconentresolver.READ_NOTES" />
        <!--        multi process is true becuase we are getting our data on different process-->
    </application>

</manifest>